{% extends "panel/panel.html" %}

{% load i18n static sekizai_tags %}

{% block content %}
    {% addtoblock "css" %}<link href="{% static "piplmesh/panel/horoscope/panel.css" %}" rel="stylesheet" type="text/css" media="screen" />{% endaddtoblock %}
    {% if user.is_authenticated %}
        <div id="horoscope">
            {% if error_birthdate %}
                <span class="horoscope_error">{% trans "Please, set your birthdate." %}</span>
            {% elif error_language %}
                <span class="horoscope_error">{% trans "Horoscope is unavailable in your language." %}</span>
            {% elif error_data %}
                <span class="horoscope_error">{% trans "Horoscope data is temporarily unavailable." %}</span>
            {% elif error_date %}
                <span class="horoscope_error">{% trans "Horoscope forecast is too old." %}</span>
            {% else %}
                <span class="horoscope_info">{{ horoscope_sign }}</span><br />
                <span class="horoscope_forecast">{{ horoscope_forecast }}</span><br />
                <span class="horoscope_date">{% trans "Date" %}: {{ horoscope_date.day }}.{{ horoscope_date.month }}.{{ horoscope_date.year }}</span><br />
                <span class="horoscope_url">{% trans "Source" %}: <a href="{{ horoscope_source_url }}">{{ horoscope_source_name }}</a></span>
            {% endif %}
        </div>
    {% else %}
        <span class="horoscope_error">{% trans "Please, login or register to see daily horoscope." %}</span>
    {% endif %}
{% endblock %}
