{% extends "panel/panel.html" %}

{% load i18n static sekizai_tags %}

{% block content %}
    {% addtoblock "css" %}<link href="{% static "piplmesh/panel/horoscope/panel.css" %}" rel="stylesheet" type="text/css" media="screen" />{% endaddtoblock %}
    {% if user.is_authenticated %}
        <div id="horoscope">
            {% if horoscope_error %}
                <span class="horoscope_description">{{ horoscope_error }}</span>
            {% else %}
                <span class="horoscope_info">{{ horoscope_sign }}</span><br />
                <span class="horoscope_description">{{ horoscope_description }}</span><br />
                <span class="horoscope_date">{% trans "Date" %}: {{ horoscope_date }}</span><br />
                <span class="horoscope_url">{% trans "Source" %}: <a href="{{ horoscope_source_url }}">{{ horoscope_source_name }}</a></span>
            {% endif %}
        </div>
    {% else %}
        <span class="horoscope_nologin">{% trans "Please, login or register to see horoscope and set your birthdate." %}</span>
    {% endif %}
{% endblock %}
